/* General settings */
body {
    margin: 0px 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    background-color: lightgray; 
}

header{
    background-color: #fff;
    border-bottom: 2px solid black;
}

header nav {
    margin-left: 70%;
    margin-top: -65px;
    padding-bottom: 30px;
    display: inline-block;
}



nav a {
    padding: 5px;
    text-decoration:none;
    border-top: solid 3px black;
    color: black;
}

.tabs { 
    position: relative;   
    min-height: 300px; 
    clear: both;
    margin: 30px;
    padding-top: 60px;
    
}

.tab1, .tab2, .tab3, .tab4 {
    border: 2px solid grey;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}


label {
    font-size: 1.2em;
    margin: 20px 10px;
    padding: 20px 10px;
}

[type="text"] {
    width: 200px;
    height: 30px;
    margin: 15px 10px;
}

[type="checkbox"] {
    margin: 5px;
}

.addressB {
    border: 0.5px solid lightgrey;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

header ~ p{
    text-align: center;
}

.progressContainer {
    width: 1060px;
    height: 70px;
    border: black solid 2px;
    padding-bottom: -50px;
    position: absolute;
    top: -11px;
    left: 7px;
}

.progress {
    width: 315px;
    height: 72px;
    background-color: black;
    padding-bottom: -50px;
    position: absolute;
    top: -11px;
    left: 7px;
    transition: 5s;
}

.progress p {
    color: white;
    margin-left: 73px;
}



/* Setting up the tabs with the chechbox hack */


/* Hide the radio buttons */

.tabs > [type=radio] {
    display: none;
}

/* Style the next buttons */

#tab-1 ~ label {
    position: absolute;
    bottom: 50px;
    right: 40px;
    border: none;
    background-color: black;
    color:  #e7e7e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Bring the first button on front */

label[for="tab-1"] {
    z-index: 2;
}

/* Make the next button on tab 2 be the secondone on front */



label[for="tab-2"] {
    z-index: 1;
}

/* Don't display the delivery address */

.addressB {
    display: none;
}

/*When the delivery checkbox is chequed, display the delivery address section  */

#address-b:checked ~ .addressB {
    display: block;
}

/* Don't display the other tabs */

.tab2, .tab3, .tab4 {
    display: none;
}

/* After been pressed the next button on tab1, don't display tab1 */

#tab-1:checked  ~ .tab1  {
    display: none;
}

/* Make the progress bar advance */

#tab-1:checked  ~ .progress {
    width: 450px;
}


/* After been pressed the next button on tab1,display tab2 */

#tab-1:checked ~ .tab2  {
    display:block;
}

/* After been pressed the next button on tab1, don't display first next button */

#tab-1:checked ~ label[for="tab-1"] {
    display: none;
}

/* After been pressed the next button on tab2, don't display tab2 */

#tab-2:checked ~ .tab2 {
    display: none;
}
/* After been pressed the next button on tab2, display tab3 */

#tab-2:checked ~ .tab3 {
    display:block;
}

/* Make the progress bar advance */

#tab-2:checked  ~ .progress {
    width: 750px;
}

/* After been pressed the next button on tab2, don't display second next button */

#tab-2:checked ~ label[for="tab-2"] {
    display: none;
}

/* After been pressed the next button on tab3, don't display tab3 */

#tab-3:checked ~ .tab3 {
    display: none;
}

/* After been pressed the next button on tab3, display tab4 */

#tab-3:checked ~ .tab4 {
    display:block;
}

/* After been pressed the next button on tab3, don't third button */

#tab-3:checked ~ label[for="tab-3"] {
    display: none;
}

/* Make the progress bar advance */

#tab-3:checked  ~ .progress {
    width: 1100px;
}

/* Style tab1 */


#country{
    height: 30px;
}

h2{
text-align: center;
}

#address-b{
    margin-bottom: 40px;
}

.addressB{
    margin:10px;
}

.pShip{
    font-size: 0.7em;
}

.tab1 label p {
    font-size: 0.7em;
}

.textbox {
    width: 800px;
}

#FirstName, #FirstNameB {
    width: 258px;
}

#streetAdress, #streetAdressB {
    width: 205px;
}

#postCode, #postCodeB {
    width: 264px;
}

/* Style tab2 */

.tab2 p:nth-of-type(1) {
    font-size: 0.7em;
}

#email{
    width:205px;
}

#telNo {
    width: 206px;
}

#psw{
    margin-top: 28px;
}

/* Style tab3 */

.tab3 img {
    width: 15%;
    margin-top:1%;
    padding: 0.5%;
    cursor: pointer;
}

/* tab4 */

.tab4 p:nth-of-type(1){
    font-size: 1em;
}


.tab4 p:nth-last-of-type(1) {
    margin-left: 20px;
    font-size: 0.5em;
}

#cardName {
    margin-bottom: -30px;
    width: 224px;
}

#cardType {
    height: 34px ;
    width: 252px;
}

#cardNr {
    margin-top: 25px;
}

label[for="ccv"] {
    margin-left: 133px;
}


label[for="ccvInfo"] {
    margin-left: 133px;
    font-size: 0.7em;
    cursor: pointer;

}

#ccvInfo{
    display:none;
}

/* Another checkbox hack for the ccvInfo */

.ccvImg {
    display:none;
}

#ccvInfo:checked ~ .ccvImg{
    display: block;
    margin-left: 38px;
}

input[type="submit"]{
    width: 100px;
    height: 50px;
    margin-left: 550px;
}
